- var carrera = "Diseño Gráfico";
- var carreramini = "diseno";
- var slogan = "Diseñar para una nueva realidad";
- var beneficio1 = "RELACIÓN ALUMNO-MAESTRO";
- var beneficio2 = "eXPERIENCIA";
- var beneficio3 = "INFLUENCIA POSITIVA";
- var beneficioParrafo1 = "Una comunidad focalizada que le da prioridad a maestros de experiencia y reconocida formación humana es el espacio ideal para que potencies tus cualidades y saques el mayor provecho de tu experiencia educativa";
- var beneficioParrafo2 = "Contribuye en la solución de proyectos institucionales y/o de la Iglesia Adventista para consolidar y enriquecer tu experiencia académica";
- var beneficioParrafo3 = "Permítete ser diferente al producir gráficos que enaltezcan al Creador del universo y motiven positivamente a la sociedad";
- var beneficioIcono1 = "relacion2.svg";
- var beneficioIcono2 = "experiencia3.svg";
- var beneficioIcono3 = "influencia2.svg";
- var hashtag = "#DiseñoUM";
- var foto1 = "diseno-expo.jpg";
- var foto2 = "ilustraciones.jpg";
- var foto3 = "expo-diseno.jpg";
- var foto4 = "galeria-diseno.jpg";
- var altInstagram = "Algunas piezas de la Expo Artcom";
- var pInstagram = "Algunas piezas de la Expo Artcom";
- var formamosPersonas = "que crean soluciones visuales para una nueva realidad";
- var gracias = "http://artcom.mx/diseno/gracias.html";
- var facebook = "https://www.facebook.com/artcomum/";
- var instagram = "https://www.instagram.com/artcom_um/";
- var telefono = "https://api.whatsapp.com/send?phone=5218261044141&text=Hola me gustaría recibir más información de la carrera de diseño";

doctype html
html(lang='es')
	head
		include ../landings/includes/head.pug
	body
		section.main
			include ../landings/includes/header.pug
			include ../landings/includes/cta.pug
			include ../landings/includes/beneficios.pug
			include ../landings/includes/fotos.pug
			include ../landings/includes/formulario.pug
			include ../landings/includes/split.pug
			include ../landings/includes/footer.pug
			include ../landings/includes/scripts.pug