- var carrera = "Comunicación y medios";
- var carreramini = "comunicacion";
- var slogan = "Comunicar para una nueva realidad";
- var beneficio1 = "EXPERIENCIA";
- var beneficio2 = "PRODUCCIONES";
- var beneficio3 = "INTERNACIONALIDAD";
- var beneficioParrafo1 = "producción audiovisual, periodismo universitario, radio, fotografía, redes sociales, entre otros, son algunos de los escenarios de práctica en los que podrás colaborar con tus maestros para consolidar tu experiencia académica";
- var beneficioParrafo2 = "Gracias al convenio de colaboración con Hope Channel Interamérica, podrás participar en las producciones televisivas que se diseñan para la Iglesia Adventista en el territorio interamiricano";
- var beneficioParrafo3 = "Conoce otras culturas y formas de producir mensajes para diferentes medios, aprovechando los intercambios académicos y/o misioneros con otras universidades o instituciones de la Iglesia Adventista con las que tenemos convenio";
- var beneficioIcono1 = "Experiencia2.svg";
- var beneficioIcono2 = "producciones.svg";
- var beneficioIcono3 = "internacionalidad.svg";
- var hashtag = "#comunicaciónUM";
- var foto1 = "camarografo.jpg";
- var foto2 = "congreso-comunicacion.jpg";
- var foto3 = "fotografo.jpg";
- var foto4 = "camarografa.jpg";
- var altInstagram = "camarógrafa en acción";
- var pInstagram = "Judit concentrada mientras está en la cámara";
- var formamosPersonas = "que comunican el mensaje de una nueva realidad";
- var gracias = "http://imac-arkev.local:5757/comunicacion/gracias.html";
- var facebook = "https://www.facebook.com/artcomum/";
- var instagram = "https://www.instagram.com/artcom_um/";
- var telefono = "https://api.whatsapp.com/send?phone=5218261069429&text=Hola me gustaría recibir más información de la carrera de arquitectura";

doctype html
html(lang='es')
	head
		include ../landings/includes/head.pug
	body
		section.main
			include ../landings/includes/header.pug
			include ../landings/includes/cta.pug
			include ../landings/includes/beneficios.pug
			include ../landings/includes/fotos.pug
			include ../landings/includes/formulario.pug
			include ../landings/includes/split.pug
			include ../landings/includes/footer.pug
			include ../landings/includes/scripts.pug