- var carrera = "Arquitectura";
- var carreramini = "arquitectura";
- var slogan = "Construir para una nueva realidad";
- var beneficio1 = "EXPERIENCIA";
- var beneficio2 = "CERTIFICACIONES";
- var beneficio3 = "INSPIRACIÓN";
- var beneficioParrafo1 = "Aprende y colabora en proyectos arquitectónicos y urbanos reales desarrollados por los maestros del área";
- var beneficioParrafo2 = "Para darle un extra a tu programa académico, certifícate en dibujo asistido por computadora y/o como supervisor de obras";
- var beneficioParrafo3 = "Conoce las formas de hacer arquitectura y convive con otras culturas en los viajes nacionales o internacionales de estudio";
- var beneficioIcono1 = "Experiencia.svg";
- var beneficioIcono2 = "Certificaciones.svg";
- var beneficioIcono3 = "Inspiracion.svg";
- var hashtag = "#ArquitecturaUM";
- var foto1 = "maqueta1.jpg";
- var foto2 = "maqueta2.jpg";
- var foto3 = "maqueta3.jpg";
- var foto4 = "arquitectos.jpg";
- var altInstagram = "Arquitectos trabajando";
- var pInstagram = "Cuando es final del semestre";
- var formamosPersonas = "comprometidas con la sustentabilidad y el mejoramiento arquitectónico para una nueva realidad";
- var gracias = "http://localhost:5757/arquitectura/gracias.html";
- var facebook = "https://www.facebook.com/Arquitecturaum/";
- var instagram = "https://www.instagram.com/umarquitectura/";
- var telefono = "https://api.whatsapp.com/send?phone=5218261044234&text=Hola me gustaría recibir más información de la carrera de arquitectura";

doctype html
html(lang='es')
	head
		include ../landings/includes/head.pug
	body
		include ../landings/includes/header.pug
		include ../landings/includes/cta.pug
		include ../landings/includes/beneficios.pug
		include ../landings/includes/fotos.pug
		include ../landings/includes/formulario.pug
		include ../landings/includes/split.pug
		include ../landings/includes/footer.pug
		include ../landings/includes/scripts.pug