header.row
	.col-xs-3.col-md-2
		img.box.wow.fadeIn(src='../landings/images/artcom.svg', alt='Artcom')
	.col-xs-3.col-sm-4.col-md-6
		.box
			img.w100(src='../landings/images/transparente.png', alt='Estudía ' + carrera)
	.col-xs-6.col-sm-5.col-md-4.end-xs
		img.box.marginRight.wow.fadeIn(src='../landings/images/um.svg', alt='Universidad de Montemorelos')