meta(charset='UTF-8')
meta(name='viewport', content='width=device-width, initial-scale=1.0')
meta(http-equiv='X-UA-Compatible', content='ie=edge')
title Estudia Licenciatura en #{carrera} | Universidad de Montemorelos
meta(name='description', content='Estudia la Licenciatura en ' + carrera + 'en la Universidad de Montemorelos, una de las mejores universidades de Nuevo León según uniRack')
link(rel='stylesheet', href='../bower_components/normalize-css/normalize.css')
link(rel='stylesheet', href='../bower_components/flexboxgrid/dist/flexboxgrid.min.css')
link(rel='stylesheet', href='../bower_components/fontawesome/css/all.min.css')
link(rel='stylesheet', href='../bower_components/animate.css/animate.min.css')
link(rel='stylesheet', href='../landings/css/styles.css')
link(rel='stylesheet', href='style.css')
// Global site tag (gtag.js) - Google Analytics
script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-137248619-1')
script.
	window.dataLayer = window.dataLayer || [];
	function gtag() { dataLayer.push(arguments); }
	gtag('js', new Date());
	gtag('config', 'UA-137248619-1');