section#split.row
	.col-xs-12.col-sm-5.wow.slideInLeft
	.col-xs-12.col-sm-7.wow.slideInRight
		h2.box UN ESCENARIO DE APRENDIZAJE
		p.box
			| Somos una universidad con características ideales para los estudiantes interesados en
			| aprovechar al máximo su tiempo. Alejada de la ciudad, hemos formado una comunidad de aprendizaje
			| continuo, donde todos nos conocemos, apoyamos y contribuimos al sano esparcimiento, lo que a su vez
			| estimula el estudio, adoptando hábitos de sistema y orden.
	.col-xs-12.col-sm-7.wow.slideInLeft(data-wow-delay='.5s')
		h2.box SERVICIO COMUNITARIO
		p.box.end-sm
			| Como parte de tu formación integral, facilitamos actividades en las que entrarás en
			| contacto con ambientes vulnerables en todo sentido, siendo el escenario ideal para fomentar tu liderazgo
			| y crear clubes en beneficio del desarrollo comunitario.
	.col-xs-12.col-sm-5.wow.slideInRight(data-wow-delay='.5s')