- var carrera = "Arte";
- var carreramini = "arte";
- var facebook = "https://www.facebook.com/artcomum/";
- var instagram = "https://www.instagram.com/artcom_um/";
- var telefono = "https://api.whatsapp.com/send?phone=5215568919085&text=Hola me gustaría recibir más información de la carrera de arte";

doctype html
html(lang='es')
	head
		include ../landings/includes/head.pug
	body
		section.main
			include ../landings/includes/header.pug
			include ../landings/includes/graciasMsg.pug
			include ../landings/includes/footer.pug
			include ../landings/includes/scripts.pug