- var carrera = "Arte";
- var carreramini = "arte";
- var slogan = "Crear para una nueva realidad";
- var beneficio1 = "INNOVACIÓN";
- var beneficio2 = "INFLUENCIA";
- var beneficio3 = "RELACIÓN ALUMNO MAESTRO";
- var beneficioParrafo1 = "Atrévete a innovar en las diferentes disciplinas artísticas, recreando obras que presenten al creador de universo";
- var beneficioParrafo2 = "Coviertete en un promotor del buen arte creando producciones que permitan influenciar positivamente en la sociedad";
- var beneficioParrafo3 = "Una comunidad focalizada que le da prioridad a maestros con experiencia y reconocida formación humana es el espacio ideal para que potencies tus cualidades y saques el mayor provecho en tu experiencia educativa";
- var beneficioIcono1 = "Innovacion.svg";
- var beneficioIcono2 = "influencia.svg";
- var beneficioIcono3 = "relacion.svg";
- var hashtag = "#ArtesUM";
- var foto1 = "expo.jpg";
- var foto2 = "expoUM.jpg";
- var foto3 = "arteUM.jpg";
- var foto4 = "expoArtCom.jpg";
- var altInstagram = "Expo ArtCom";
- var pInstagram = "Visita nuestra Expo al final del semestre";
- var formamosPersonas = "creativas que promueven y aportan arte para una nueva realidad";
- var gracias = "http://localhost:5757/arte/gracias.html";
- var facebook = "https://www.facebook.com/artcomum/";
- var instagram = "https://www.instagram.com/artcom_um/";
- var telefono = "https://api.whatsapp.com/send?phone=5215568919085&text=Hola me gustaría recibir más información de la carrera de arte";

doctype html
html(lang='es')
	head
		include ../landings/includes/head.pug
	body
		include ../landings/includes/header.pug
		include ../landings/includes/cta.pug
		include ../landings/includes/beneficios.pug
		include ../landings/includes/fotos.pug
		include ../landings/includes/formulario.pug
		include ../landings/includes/split.pug
		include ../landings/includes/footer.pug
		include ../landings/includes/scripts.pug