- var carrera = "Arquitectura";
- var carreramini = "arquitectura";
- var facebook = "https://www.facebook.com/Arquitecturaum/";
- var instagram = "https://www.instagram.com/umarquitectura/";
- var telefono = "tel:8261044234";

doctype html
html(lang='es')
	head
		include ../landings/includes/head.pug
	body
		include ../landings/includes/header.pug
		include ../landings/includes/graciasMsg.pug
		include ../landings/includes/footer.pug
		include ../landings/includes/scripts.pug